[Unit]
Description=automount daemon that mounts devices and NFS hosts on demand.
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/amd
ExecStart=/usr/sbin/amd -F /etc/amd.conf $AMDOPTS $OPTIONS $MOUNTPTS

[Install]
WantedBy=multi-user.target
