[Unit]
Description=Samba smbd daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/samba
Type=forking
ExecStart=/usr/sbin/smbd $SMBDOPTIONS

[Install]
WantedBy=multi-user.target
