[Unit]
Description=Wesnoth game server
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/wesnoth
Type=forking
User=wesnothd
ExecStart=/usr/sbin/wesnothd --daemon $WESNOTHD_OPTIONS

[Install]
WantedBy=multi-user.target
