[Unit]
Description=Proxy daemon to share a v4l vbi device between applications.
Requires=dbus.socket
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/zvbid

[Install]
WantedBy=multi-user.target
